<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微赞同城</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="all-page" id="app">
        <div class="live-serve-show">
            <div class="live-title">
                <img class="logo" src="https://j.weizan.cn/content/tuiguang/image/wz-logo.png"/>
            </div>
            <p class="shop-title">商家小程序直播系统</p>
            <p class="shop-title-little">商家小程序直播系统</p>
            <img class="content" src="https://j.weizan.cn/content/tuiguang/image/shop-live.png"/>
            <img class="bot" src="https://j.weizan.cn/content/tuiguang/image/shop-down.png"/>
        </div>

        <section class="section-2">
            <p class="title">直播+营销+小程序=2020年红利风口</p>
            <p class="title-2">我们帮你搭建商家直播平台，你可以</p>
            <p class="title-2">通过服务3000万商家赚钱！</p>
            <p class="mar-bot"><span class="s-col"></span></p>

            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-home.png"/>
                <div class="text">
                    <p>每个商家都有单独店铺、单独二维码、</p>
                    <p>单独后台</p>
                </div>
            </div>
            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-sales.png"/>
                <div class="text">
                    <p>数十种营销玩法</p>
                    <p> 提升商家流量，提升营业额</p>
                </div>
            </div>
            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-out.png"/>
                <div class="text-sec">
                    <p>多门店新零售，电商物流，到店自提</p>
                </div>
            </div>
            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-price.png"/>
                <div class="text">
                    <p>多盈利模式、自定义入驻价格、 </p>
                    <p>自定义抽佣比例</p>
                </div>
            </div>
            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-number.png"/>
                <div class="text">
                    <p>拥抱12亿流量、多场景推广渠道 </p>
                    <p>把公域流量变私域</p>
                </div>
            </div>

            <div class="shop-list">
                <image class="logo" src="https://j.weizan.cn/content/tuiguang/image/shop-all.png"/>
                <div class="text">
                    <p>超大市场容量、3000万商家体量</p>
                    <p>都要直播加持销售</p>
                </div>
            </div>
        </section>

        <section class="section-3">
            <p class="title">适合这些领域打造专属的直播联盟平台</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <div class="scroll-model">
                <div class="img-box">
                    <img class="img-scr" :src="item.url" v-for="(item,index) in srollList">
                </div>
            </div>
        </section>

        <section class="section-4">
            <p class="title">微赞商家直播优势</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/shop-live-advantage.png">
        </section>
        <div class="banner-box">
            <img src="https://j.weizan.cn/content/tuiguang/image/mindle-banner.png">
        </div>

        <section class="section-5">
            <p class="title">商家系统</p>
            <p class="title-2">一店一码 | 独立经营 | 资产管理</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/shop-system.png">
            <div class="model-box">
                <div class="switch">
                    <img  class="img-user" src="https://j.weizan.cn/content/tuiguang/image/user-serve.png"/>
                    用户端
                </div>
                <div class="text">
                    到店自取 | 电商物流 | 商家自配送 | 导航到店 | 商家拨号 附近门店 | 推荐商家
                </div>
                <p class="line-bot"></p>
                <div class="switch">
                    <img  class="img-user" src="https://j.weizan.cn/content/tuiguang/image/shop-serve.png"/>
                    商户端
                </div>
                <div class="text">
                    商家联盟 | 商品发布 | 自主提现 | 活动发布 | 好评引流
                </div>
            </div>
        </section>

        <section class="section-6">
            <p class="title">直播系统</p>
            <p class="title-2">一播一码 | 一店多直播 | 直播裂变 | 直播吸粉</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <img  class="img-first" src="https://j.weizan.cn/content/tuiguang/image/living-system-wz.png"/>
            <p class="line-bot"></p>
            <img  class="img-second" src="https://j.weizan.cn/content/tuiguang/image/live-system-sjop.png"/>
        </section>

        <section class="section-7">
            <p class="title">营销系统</p>
            <p class="title-2">新颖商家营销玩法，解决营业额低难题</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <div class="system-box">
                <div class="system-items" v-for="(item,index) in  shopSysList" :key="index">
                    <img class="img-show" :src="item.url"/>
                    <div class="name">{{item.text}}</div>
                    <div class="tip" v-if="item.isShow">即将上线</div>
                </div>
            </div>
        </section>

        <section class="section-8">
            <p class="title">运营系统</p>
            <p class="title-2">商家自主管理订单、商品、资产提现</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <div class="box-bot">
                <div class="column-show">
                    <div class="switch" :class="item.showBg?'bg':''" v-for="item in menuList">
                        <img  class="img-user" :src="item.url" :class="item.isData?'w':''"/>
                        {{item.text}}
                    </div>
                </div>
                <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/serve-system-shop.png" />
            </div>
        </section>

        <section class="section-9">
            <p class="title">微赞技术资质</p>
            <p class="mar-bot"><span class="s-col"></span></p>
            <div class="wz-box">
                <img class="img-show" v-for="item of honorList" :src="item.url" />
            </div>
            <a name="top" class="title">合作意向提交</a>
            <p class="mar-bot"><span class="s-col"></span></p>
            <div class="submit-box">
                <div class="input">
                    <input type="text" v-model="username" placeholder="请输入您的名字">
                </div>
                <div class="input">
                    <input type="text" v-model="userphone" placeholder="填写您的手机号码" pattern="[0-9]*">
                </div>
                <div class="input">
                    <input type="text" v-model="userOther" placeholder="请输入您目前的职业信息或者经营信息">
                </div>
                <div class="input-submit" @click="save">
                    提交信息
                </div>
            </div>
        </section>

        <section class="section-10">
            <p class="call">联系电话：{{isRomdom?'18664682591':'18680485021'}}</p>
            <p class="address">广州市天河区林和东路285号天安人寿中心2702号</p>
            <p class="wz">Copyright ©2020 www.vzan.com</p>
            <p class="wz">All Rights Reserved Powered by 广州赞赏信息科技有限公司</p>
            <p class="wz">安全联盟认证 ICP备案：<a href="http://beian.miit.gov.cn" target="_blank">粤ICP备16043221号-2 </a></p>
            <p class="wz">粤公网安备 44010602002751号</p>
        </section>
        <footer class="bottom-box">
            <a href="#top" class="left-b" >
                <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/company-team.png" />
                合作留言
            </a>
            <img class="img-line" src="https://j.weizan.cn/content/tuiguang/image/line.png" />
            <a class="left-b" href="tel:18664682591" v-if="isRomdom">
                <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/call-phone.png" />
                电话咨询
            </a>
            <a class="left-b" href="tel:18680485021" v-else>
                <img class="img-show" src="https://j.weizan.cn/content/tuiguang/image/call-phone.png" />
                电话咨询
            </a>
        </footer>

        <!-- toast提示 -->
        <div class="toast-box" v-show="isTaostShow">{{toast}}</div>

    </div>
</body>

</html>
<script>
    (function (doc, win) {
    var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
            var clientWidth = docEl.clientWidth;
            if (!clientWidth) return;
            docEl.style.fontSize = 50 * (clientWidth / 375) + 'px';
        };
    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, function() {
        clearTimeout(tid);
        tid = setTimeout(recalc, 300);
    }, false);
    win.addEventListener('pageshow', function(e) {
        if (e.persisted) {
            clearTimeout(tid);
            tid = setTimeout(recalc, 300);
        }
    }, false);
    doc.addEventListener('DOMContentLoaded', function () {
        tid = setTimeout(recalc, 0);
    }, false);
    recalc();
})(document, window);
</script>
<script src="https://j.weizan.cn/scripts/jquery2.1.4/jquery.min.js"></script>
<script src='https://j.weizan.cn/scripts/min/20170516/vue.min.js?v=0519'></script>
<script src="https://j.weizan.cn/content/city/asset/js/toast.js"></script>
<script src="https://j.weizan.cn/content/city/asset/js/vue-http.js"></script>
<script>
    $(function () {
        var app = new Vue({
            el: '#app',
            data: function () {
                return {
                    isTaostShow: false,
                    toast: '',
                    username: "",//用户名
                    userphone: "",//手机号码
                    userOther: "", //用户信息
                    shopSysList: [
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/shop-coupon.png',
                            text: '优惠券',
                            isShow: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/shop-king.png',
                            text: '商家/会员卡',
                            isShow: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/shop-activity.png',
                            text: '抢购活动',
                            isShow: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/shopHome-splice.png',
                            text: '商家分销',
                            isShow: true,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/more-people-rule.png',
                            text: '群接龙',
                            isShow: true,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/shop-splice.png',
                            text: '业务员分销',
                            isShow: true,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/poster-live.png',
                            text: '海报生成',
                            isShow: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/hot-bag.png',
                            text: '商家红包',
                            isShow: true,
                        },
                    ],
                    menuList:[
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/object-1.png',
                            text: '订单管理',
                            showBg: true,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-8.png',
                            text: '资产管理',
                            showBg: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-2.png',
                            text: '库存管理',
                            showBg: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-3.png',
                            text: '交易管理',
                            showBg: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-4.png',
                            text: '用户管理',
                            showBg: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-5.png',
                            text: '商品管理',
                            showBg: false,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-6.png',
                            text: '数据管理',
                            showBg: false,
                            isData: true,
                        },
                        {
                            url:'https://j.weizan.cn/content/tuiguang/image/obj-7.png',
                            text: '地址管理',
                            showBg: false,
                        }
                    ],
                    honorList:[
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-7.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-1.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-5.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-4.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-6.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-aboutUs.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-2.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/honor-3.png'
                        }
                    ],
                    srollList:[
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-1.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-2.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-3.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-4.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-8.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-7.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-5.png'
                        },
                        {
                            url: 'https://j.weizan.cn/content/tuiguang/image/wz-sroll-6.png'
                        }
                    ]
                }
            },
            mounted: function () {

            },
            computed: {
                isRomdom() {
                    return Math.random()>0.5
                }
            },
            methods: {
                isHideToast: function() {
                    let that = this;
                    that.isTaostShow = true;
                    setTimeout(function(){
                        that.isTaostShow = false;
                    },1000)
                },
                save: function () {
                    var thisVue = this;
                    if (thisVue.username == "") {
                        thisVue.toast = "姓名不能为空！";
                        thisVue.isHideToast();
                        return;
                    }
                    if (!thisVue.userphone) {
                        thisVue.toast = "手机不能为空！";
                        thisVue.isHideToast();
                        return;
                    }
                    if (!thisVue.userOther) {
                        thisVue.toast = "信息不能为空！";
                        thisVue.isHideToast();
                        return;
                    }
                    if (!thisVue.userphone.match(/^1[\d]{10}$/)) {
                        thisVue.toast = "请输入正确的手机号码！";
                        thisVue.isHideToast();
                        return;
                    }
                    $.ajax({
                        type: "POST",
                        url:  "/spread/AddSpreadIntentionRecords",
                        data:JSON.stringify({
                            Reason: thisVue.userOther,
                            Name: thisVue.username,
                            Phone: thisVue.userphone
                        }),
                        contentType: "application/json; charset=utf-8",
                        success: function (result) {
                            if (result.code == 1) {
                                thisVue.toast = result.msg;
                                thisVue.isHideToast();
                                location.reload();
                            } else {
                                thisVue.$toast = result.msg;
                                thisVue.isHideToast();
                            }
                        }
                    });
                }
            }
        })
    })
</script>

<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7a5d85730893f8fff5fa3f01d5e88e17";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
